extends layout

block content
  h1= title
  if (!user)
    a(href="/login") Login 
    -console.log("user")
    br 
    a(href="/register") Register 

    
  if (user) 
    -console.log("this works i think")
    p You are currently logged in as #{name} 
    a(href="/books") Take me to books 
    br 
    a(href="/logout") Logout 

  script.
    let clap_count = 0;
    function moreClaps() {
      console.log("here")
      clap_count += 2;
      out = document.getElementById('target');
      out.innerHTML = "Clap " + clap_count;
    }
